<div class="print_button_div noPrint">

    [INVOICE_RECEIPT_SWITCHER_BUTTON] [DISPLAY_PDF_BUTTON]
    <div class="clear"></div>
</div>
<div id="invoice">
    <table id="invoice-header" class="not-really-a-table">
        <tbody>
            <tr>
                <td id="logo-dv">[INVOICE_LOGO]

                    <strong style="font-size: 11pt;">[INVOICE_PAYEE_NAME]</strong>

                    <span style="font-size: 11pt;">[INVOICE_PAYEE_ADDRESS]</span>

                    <span style="font-size: 11pt;">[INVOICE_PAYEE_EMAIL]</span>

                    <span style="font-size: 11pt;">[INVOICE_PAYEE_TAX_NUMBER_*]</span>
                </td>
                <td>
                    <div id="invoice-info">
                        <h2 id="invoice-hdr">Invoice</h2>
                        <h3>Date: [PRIMARY_REGISTRANT_REGISTRATION_DATE]</h3>
                        <h3>Registration Code: [PRIMARY_REGISTRANT_REGISTRATION_CODE]</h3>
                        <h3>Transaction ID: [TXN_ID]</h3>
                    </div>
                </td>
            </tr>
            <tr>
                <td id="instructions" colspan="2">[INVOICE_PAYMENT_INSTRUCTIONS]</td>
            </tr>
        </tbody>
    </table>
    <h2>Bill To:</h2>
    <div id="client-details" class="vcard">
        <div class="fn">[PRIMARY_REGISTRANT_FNAME]</div>
        <div class="fn">[PRIMARY_REGISTRANT_LNAME]</div>
        <div>[PRIMARY_REGISTRANT_EMAIL]</div>
        <div class="adr">
            <div id="client-postcode"></div>
        </div>
    </div>
    <div>[EVENT_LIST]</div>
    <div><span style="font-size: 14pt;">Payment Status</span></div>
    <table class="invoice-amount">
        <thead>
            <tr class="header_row">
                <th><span class="">Payment Method</span></th>
                <th class="left datetime_th">Date</th>
                <th><span class="">Transaction Id / Cheque #</span></th>
                <th><span class="">P.O. / S.O.#</span></th>
                <th><span class="">Status</span></th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="6">
                    <h3>[PAYMENT_STATUS] [PAYMENT_LINK_IF_NEEDED_*]</h3>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr class="total_tr">
                <td colspan="4"></td>
                <td class="item_r">Total Paid</td>
                <td class="item_r">[TOTAL_AMOUNT_PAID]</td>
            </tr>
            <tr class="total_tr">
                <td colspan="4"></td>
                <td id="total_currency" class="total">Amount Owed</td>
                <td class="total">[TOTAL_OWING]

                    includes VAT</td>
            </tr>
        </tfoot>
    </table>
</div>
<div class="print_button_div noPrint">

    [INVOICE_RECEIPT_SWITCHER_BUTTON] [DISPLAY_PDF_BUTTON]
    <div class="clear"></div>
</div>